<div class="container">
<p id="notice"><%= notice %></p>
  <h1>Reading List</h1>

  <ol class="breadcrumb">
    <li class="active">
      Books
    </li>
  </ol>

<div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
   </div>
  </div>

  

    <% @books.each do |book| %>
      <tr class="<%= 'finished' if book.finished? %>">
      <li class="row rating-<%= book.rating %>">
  <div class="col-sm-3">
    <a href="#" target="_blank">
      <%= image_from_amazon(book.amazon_id) %>
    </a>
    <p class="text-center rating"><strong><%= book.rating %></strong>/5</p>
  </div>

  <div class="col-sm-9">
    <h3><a href="#"><%= book.title %></a></h3>
    <p class="text-muted"><em>Written by <%= book.author %></em></p>

    <div>
      <p>
        <%= book.description %>
      </p>
    </div>
   </div>
</li>
   
    <% end %>
  
<br>

<%= link_to 'New Book', new_book_path %>
